:root {
    --green: #43b581;
    --blue: #7289da;
    --medium-grey: #2f3136;
    --darkest-grey: #202225;
    --red: #ff0000;
    --light-dark-grey: #292c2e;
    --purple-blue: #5c87ff;
    --light-green: #67db4d;
    --light-blue: #2a9df4;
    --dark-yellow: #d3ab0d;
    --ultra-dark-yellow: #b38f00
}

::selection {
    color: #fff !important;
    background: var(--light-blue) !important
}

body,
textarea {
    color: #fff !important
}

body {
    font-family: sans-serif
}

textarea {
    padding: 5px !important
}

.flexwrap,
.login-app .smscButton:hover,
body,
fieldset,
legend,
select,
textarea,
th {
    background-color: var(--medium-grey) !important
}

.modern-ui {
    background-color: var(--dark-grey) !important
}

select {
    border: var(--medium-grey) !important
}

.action__label,
.topnav__menuitem--img span:hover,
a,
button,
div a,
input,
input[type=password],
input[type=search],
input[type=text],
input[type=textfield],
legend,
ol,
select,
ul {
    color: #fff !important
}

a:hover,
span a:hover {
    text-decoration: none !important
}

.action__label:hover,
.msgContent a,
a:hover,
span a:hover {
    color: var(--blue) !important
}

input[type=search] {
    background-color: var(--medium-grey) !important
}

input {
    border-radius: 3px !important;
    padding-left: 5px !important
}

.smscselect {
    background: #202225 !important
}

div a:hover {
    color: #7289da !important
}

img {
    pointer-events: none
}

button,
div {
    text-shadow: none !important
}

tr {
    background: 0 0
}

input[type=checkbox] {
    background: var(--medium-grey) !important
}

div a:hover,
span:hover {
    text-decoration: none !important
}

.login-app__left {
    display: block;
    background-image: url(https://www.smartschool.be/smsctip/2019-12_aanloop_kerst_smartschool_city_1440.jpg) !important
}

.hero-image-- {
    display: block !important
}

.login-app__smartschool-app {
    background-color: #2f3136;
    padding-bottom: 0
}

.login-app__title--separator {
    color: #202225
}

.required span,
a.smscButton span {
    color: #fff
}

.login-app__link--password {
    color: #000
}

.login-app__right {
    position: relative;
    margin: auto;
    box-shadow: none !important
}

.login-app__top {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center
}

.login-app__top::after {
    color: #f33;
    content: "STILL IN DEVELOPMENT";
    white-space: pre-wrap
}

#centercontainer>div.homepage__block,
.login-app__bottom,
.login-app__title--sign-in-with.login-app__title {
    display: none
}

.login-app__school-logo {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 0 0 30px
}

.login-app .smscButton {
    background-color: #7289da !important;
    border-color: #7289da !important
}

.login-app__link,
.login-app__title--or,
.modern-ui .float-label__input+label span {
    color: #fff
}

.login-app__link:hover,
.login-app__smartschool-app:hover {
    background-color: var(--medium-grey)
}

.login-app__platform-indicator {
    background-color: #2f3136;
    margin-bottom: 16px
}

.dialog--alert.js-partner-logout-dialog.partner-logout-dialog.js-dialog-content.dialog-content {
    background-color: var(--medium-grey);
    border: 0
}

.topnav-menu-overlay {
    z-index: 1 !important
}

.topnav {
    z-index: 1;
    position: relative;
    background-color: var(--light-dark-grey) !important
}

.empty-state__container,
.js-course-name mark,
.msgContentVal span,
.showLeftNav,
.smscMain table tr td,
.topnav__menu-wrapper {
    background: 0 0 !important
}

.home__container__tab::after,
.home__container__tab::before,
.home__container__tabs::before,
.profile-blocks.js-profile-blocks,
.scoodle-kit__kit img {
    display: none !important
}

.course__block__title:hover,
.smsc_cm_body_row_block_mime {
    color: #fff !important
}

.course-ico {
    border-right: 1px solid var(--blue) !important
}

.module-news--24 {
    background-image: url(https://svgshare.com/i/RdB.svg) !important
}

.home__container__content__loading {
    background-image: url(https://i.ibb.co/cwdKk1F/Rolling-1s-52px-transparent.gif) !important
}

.scoodle__container {
    background: 0 0
}

.home__container__tab {
    background: var(--blue) !important;
    border-radius: 0 !important;
    height: 100% !important
}

.home__container__tab--active {
    background: var(--light-dark-grey) !important;
    font-weight: 400 !important
}

.js-search-filter fieldset legend {
    color: #67db4d !important
}

#topnavSearchFilter {
    background-color: #2f3136 !important
}

.course__block__description,
.course__block__description:hover,
.js-course-descr,
.js-course-descr:hover,
.news__feed__button__content--name-date {
    color: gray !important
}

#topnavSearchFilter,
.course-link__name:hover {
    color: #fff !important
}

.homepage__block p a img:first-child,
.newsDialog__center p a img:first-child {
    display: none !important
}

.homepage__right,
.smsc-container--main,
homepage__center {
    background-color: #2f3136
}

.ssLink {
    color: #fff
}

.ssLink:hover {
    color: #7289da;
    text-decoration: none
}

.datepicker__cell__content:hover,
.datepicker__header td div:hover,
.topnav__menu {
    background-color: var(--medium-grey) !important
}

.modern-ui .smsc-topnav .topnav,
.smsc-topnav .topnav {
    background: var(--light-dark-grey) !important
}

.smsc-topnav .topnav__menu {
    background-color: #2e3338;
    border: 1px solid #2f3136
}

body.modern-ui .homepage__block:not(:last-child) {
    border-bottom: 1px solid #202225
}

body.modern-ui .homepage__center {
    border-left: 1px solid #202225;
    border-right: 1px solid #202225
}

.datepicker__navigation__label,
.topnav__badge {
    color: #fff
}

.smsc-topnav .topnav__badge {
    background-color: #7289da
}

.smsc-title--1 {
    color: #fff !important;
    font-weight: 700 !important
}

.ui-widget-content {
    background: #202225;
    border: 0
}

.smscButton {
    background: #7289da !important;
    color: #fff !important;
    border: 0 !important
}

.modern-ui .smscButton:hover:not([disabled]) {
    background-color: #7289da
}

.topnav__menu-arrow::after,
.topnav__menu-arrow::before {
    border-color: #2f3136 transparent !important
}

.smsc-contextmenu.position-bottom .smsc-contextmenu-arrow::after {
    border-color: #2f3136 transparent
}

.smscMain {
    height: 100% !important
}

span {
    text-decoration: none !important;
    background: 0 0 !important
}

.js-course-filters {
    background-color: #2f3136
}

.smsc-contextmenu-bubble {
    background-color: #2f3136 !important;
    border-color: #2f3136 !important
}

.menu-type.menu-linkbutton.smsc-linkbutton.smsc-linkbutton--icon.smsc-linkbutton--svg.smsc-linkbutton--24:hover,
a.menu-type:hover {
    color: #7289da !important;
    background-color: #2f3136 !important
}

.course-ico {
    background-color: #7289da !important
}

.course-btnbar {
    border: #7289da solid !important
}

.datepicker--pointer,
.topnav__menu__title {
    color: #fff !important
}

a.course__block.course__image:hover {
    background-color: #202225 !important;
    border-color: #202225 !important
}

.msg_button {
    color: #fff
}

.msgContentVal a,
.msg_button:hover {
    color: #7289da
}

.send-button {
    background-color: #7289da !important
}

.toolbarright {
    background-color: #2f3136
}

.messages__tree__add-button,
.postbox_link {
    color: #fff
}

.postbox_link:hover {
    color: #7289da !important
}

.messages__tree__add-button:hover {
    color: #7289da !important;
    text-decoration: none
}

.messageframe {
    background-color: #2f3136
}

.postbox_line {
    margin: 1.333rem 0;
    border-bottom: solid 1.5px #202225
}

.sortlist__button {
    background-color: #7289da !important;
    border-color: #7289da !important
}

.course-link.hlp-vert-box:hover,
.modern-message:hover,
.modern-ui .modern-message--selected,
.modern-ui .modern-message--selected:hover,
.smsc-dropzone--init {
    background-color: var(--light-dark-grey) !important
}

.course-link.hlp-vert-box:hover {
    border-color: #202225
}

.smsc-container--grey {
    background-color: #292c2e !important
}

.news__feed__button__content--title,
.smsc-table__sortable,
.smsc-tree__item__title,
.topnav__btn {
    color: #fff !important
}

.smsc-tree__item__title:hover {
    color: #7289da !important
}

.smsc-table__header.js-table-hdr {
    background-color: #2f3136
}

.menu-linkbutton:hover {
    background-color: #202225 !important
}

.mce-content-body div,
.msgContentVal div,
.news__feed__button__content--title:hover {
    color: #7289da !important
}

.topnav__btn:hover {
    color: #fff !important
}

.home__container__tab--active.home__container__tab.scoodle__tab--kits {
    border: 0
}

#centercontainer::after {
    padding: 220px 250px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: pre-wrap
}

#homeAgenda>div.datepicker,
.homepage__center.smsc-container--main,
.homepage__right.smsc-container--right {
    background: 0 0
}

.searchInputField,
.subjectInput,
quickreply-menu {
    background-color: var(--medium-grey) !important
}

.tox-tbtn__select-label:hover {
    cursor: pointer !important
}

.mbselected {
    background-image: none !important
}

.tox-toolbar__primary {
    background-color: var(--medium-grey) !important
}

.quickReplyMenu__arrow::after,
.quickReplyMenu__arrow::before {
    border-color: transparent var(--medium-grey) !important
}

#folders_parent_td,
.folders {
    background-color: var(--dark-grey) !important
}

.helper--height--mega {
    background-color: var(--light-grey) !important
}

#folders_parent_table tbody tr td div:nth-child(1) {
    background-color: var(--dark-grey) !important
}

.tox-collection__group,
.tox-selected-menu {
    background-color: #2f3136 !important
}

.tox-collection__item--active,
.tox-mbtn--active {
    background-color: #202225 !important
}

.composeUsers--max-height-limited.ui-droppable:hover,
.smartfolderrules_text select,
.smsc-table__row:hover,
.tox-collection__item--enabled {
    background-color: #2f3136 !important
}

.tox-collection__item-accessory,
.tox-collection__item-label {
    color: #fff !important
}

.smsc-table__row {
    background-color: var(--medium-grey) !important
}

.msgContent * {
    background: #2f3136 !important;
    color: #fff !important
}

.msgHeader {
    border-bottom: #202225 1px solid !important
}

.attachment:hover {
    background-color: #202225
}

.attachment__title__label {
    color: #fff !important
}

.topnav__menuitem.topnav__menuitem--icon {
    color: #fff
}

#contextMenu,
.notifs-toaster__toast.modern-ui {
    background-color: #2f3136;
    border-color: #2f3136
}

.notification:hover,
.smsc-select-option.item:hover,
.tox-mbtn.tox-mbtn--select:hover {
    background-color: #202225 !important
}

.ui-dialog-content.ui-widget-content {
    color: #fff
}

.coursesbutton,
.js-notifs-settingsbtn {
    background-color: #7289da !important;
    border: 0
}

.js-notifs-settingsbtn:hover {
    background-color: #5768a5 !important;
    color: #fff !important
}

.js-notifs-clearbtn {
    background-color: #f04747 !important;
    border: 0
}

.js-notifs-clearbtn:hover {
    background-color: #b13636 !important
}

a.topnav__menuitem:hover {
    background-color: var(--darkest-grey) !important;
    border-color: #202225 !important;
    color: #fff !important
}

.tooltip__arrow,
.tooltip__content {
    display: none !important
}

.userNotRead {
    color: #f04747
}

.menu-type {
    color: #fff !important;
    text-decoration: none !important
}

.menu-item:hover {
    background-color: var(--medium-grey) !important;
    color: var(--blue) !important
}

.trans-layer {
    background-color: #2f3136;
    opacity: .5
}

.messageSearchPopup .ui-draggable,
.smsc-select-bubble {
    background-color: #2f3136 !important
}

.smsc-select-bubble {
    border-color: #2f3136 !important
}

.smsc-select {
    color: #fff
}

.smsc-select::before {
    background-color: #7289da !important
}

.ui-dialog-titlebar {
    background-color: #2f3136;
    border-color: #2f3136
}

#smscSelectPanel_search_on_select>div:nth-child(1)::after {
    border-color: #2f3136 transparent
}

.message-search__select .smsc-select,
.message-search__wrapper,
.ui-dialog {
    background-color: #2f3136
}

.message-search__button {
    background-color: #7289da !important
}

.smsc-topnav [data-notifs] .notifs__hdr [role=switch] .switch-values::after {
    background-color: #67db4d
}

.smsc-topnav [data-notifs] .notifs__hdr [role=switch][aria-checked=false] .switch-values::after {
    background-color: #f04747
}

.smsc-topnav [data-notifs] .notifs__list:empty::after {
    color: #fff
}

.js-courses-list {
    background-image: none !important
}

.modern-message__name,
.msgHeaderVal--sender {
    color: #5c87ff !important
}

.tox-menubar {
    background-color: #2f3136 !important
}

.tox-mbtn__select-label {
    color: #fff !important
}

.tox-mbtn__select-label:hover {
    cursor: pointer
}

.tox-split-button:hover {
    border-color: #202225 !important;
    cursor: pointer
}

.compose_subject,
.ui-droppable {
    background-color: #2f3136 !important
}

.tox-mbtn--select:hover,
.tox-tbtn:hover {
    cursor: pointer !important
}

.tox-split-button__chevron:hover {
    border-color: #202225 !important
}

.searchDivContent {
    background-color: #2f3136
}

.searchDivResult.selected,
.searchDivResult:hover {
    background-color: #7289da
}

.selected,
.smsc-inlineeditor__span--disabled:hover {
    background-color: var(--darkest-grey) !important
}

.mce-content-body {
    background-color: #2f3136
}

.tox-tbtn--bespoke:hover {
    background-color: #202225 !important
}

.smsc-contextmenu-arrow::after {
    border-color: #2f3136 transparent !important
}

.smsc-table__header {
    background: #2f3136 !important
}

.tox-tbtn.tox-tbtn--select,
.tox-tbtn.tox-tbtn--select:hover {
    color: #fff
}

.tox-toolbar__group.tox-tbtn:hover {
    background-color: #202225
}

.tox-toolbar {
    background-color: #2f3136 !important
}

.menu-divider::before,
.tox-tbtn:hover {
    background-color: #202225 !important
}

.tox-icon.tox-tbtn__icon-wrapsvg span,
svg {
    fill: #fff !important
}

.tox-statusbar {
    border-top: none !important
}

.tabmain,
.tox-statusbar {
    background-color: #2f3136 !important
}

.js-focus-visible.modern-ui {
    background-color: #2f3136;
    box-shadow: none !important
}

.focus-visible {
    box-shadow: none !important
}

.add-btn,
.smsc-treeitem__label {
    color: #fff !important
}

.add-btn:hover,
.smsc-treeitem__label:hover {
    color: #7289da !important
}

.modern-message__actions,
.smsc-tabslist__item {
    background-color: #2f3136 !important
}

.modern-message__actions {
    box-shadow: none !important
}

.modern-message__action:hover {
    background-color: #202225 !important;
    border-color: #202225 !important
}

.ui-helper-clearfix {
    background-color: #2f3136
}

.ui-dialog {
    border-color: #2f3136 !important
}

.smscFrameTitle {
    color: #fff !important;
    padding: 0 !important;
    background: #2f3136 !important;
    box-shadow: none !important;
    font-size: 15px !important
}

.cf,
.smscFrameTitle {
    border-radius: 0 !important;
    border: 0 !important
}

.margin-top--milli {
    background-color: #2f3136 !important;
    box-shadow: none !important
}

.nav a:hover,
.smscAdminNav_body_linkdivTitle:hover {
    color: #7289da !important;
    text-decoration: none !important
}

.smscAdminNav_body_linkdivText {
    color: #fff
}

.modern-ui {
    background-color: #2f3136
}

#loadingLayer img,
#msglist p img {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    padding-left: 52px
}

#msglist p img {
    background: url(https://i.ibb.co/1Z9BXm0/Rolling-1s-52px.gif)no-repeat
}

.modern-message--selected {
    background-color: var(--darkest-grey) !important
}

#loadingLayer img {
    background: url(https://i.ibb.co/cwdKk1F/Rolling-1s-52px-transparent.gif)no-repeat
}

.news--loading {
    background-image: url(https://i.ibb.co/cwdKk1F/Rolling-1s-52px-transparent.gif) !important;
    height: 54px !important
}

.ssLinkBlue,
.ssLinkBlue:hover {
    text-decoration: none;
    color: #7289da
}

button.ui-button,
button.ui-button:hover {
    background-color: #f04747;
    border-color: #f04747
}

.smscButton.blue {
    background-color: #7289da !important
}

.draftSaved {
    background-image: none !important
}

.tox .tox-menubar+.tox-toolbar,
.tox .tox-menubar+.tox-toolbar-overlord .tox-toolbar__primary {
    border-top: 1px solid #fff;
    margin-top: -1px
}

.forum-row {
    color: #fff
}

.forum-row,
.forum-row:hover {
    background-color: #2f3136
}

.forum-link {
    color: #fff !important
}

.forum-link:hover,
.teacher a {
    color: #7289da !important
}

.category-hdr {
    background: var(--darkest-grey) !important;
    font-weight: 400 !important;
    text-shadow: none !important
}

.js-listview-actionbtn {
    background-color: #202225 !important
}

[listview] .listview__row:hover:not(.listview__row--selected) .listview__cell:not(.listview__cell--select-btn) {
    background-color: #202225;
    color: #7289da
}

.listview__cell-button {
    text-decoration: none !important
}

smsc-listview .smsc-table__header tr:hover td:not(.cb-container),
smsc-listview table tr:hover td:not(.cb-container) {
    background-color: #202225
}

.loading--x-large {
    background: url(https://i.ibb.co/cwdKk1F/Rolling-1s-52px-transparent.gif)no-repeat;
    background-position: center
}

.action-button {
    display: flex !important;
    background-color: #202225 !important;
    justify-content: center !important
}

.smsc-linkbutton {
    color: #fff
}

.category a:hover,
.smsc-linkbutton:hover {
    color: #7289da;
    text-decoration: none
}

.pupilInfo_popup,
.smsc-contextmenu__content {
    background-color: #2f3136 !important
}

.contextmenu__item.smsc-svg:hover {
    background-color: #202225 !important;
    border-color: #202225 !important
}

.smsc-contextmenu__arrow--position-right::after {
    border-color: transparent #2f3136 !important
}

#leftLVStitle {
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 15px !important
}

.pupilInfo_popup {
    border-color: #2f3136 !important
}

.content_container,
.navigation_container {
    border: 1px solid #fff !important
}

.content_container,
.navigation_container,
.toolbar {
    background-color: var(--medium-grey) !important
}

.toolbarright {
    border: 0 !important
}

.contentFrametitle {
    background: #2f3136;
    border: 0;
    box-shadow: none
}

.contentFrametitle span {
    color: #67db4d
}

.itemSchoolyear {
    color: #fff
}

.green {
    background: #43b581 !important
}

.loading {
    background: url(https://i.ibb.co/cwdKk1F/Rolling-1s-52px-transparent.gif)no-repeat !important;
    min-width: 16px !important;
    min-height: 16px !important;
    margin-right: 10px !important
}

.highcharts-background {
    fill: #2f3136
}

#mod_nav_center {
    background-color: #2f3136
}

.last a {
    color: #fff !important
}

.contentLoader {
    background: url(https://i.ibb.co/cwdKk1F/Rolling-1s-52px-transparent.gif)no-repeat;
    background-position: center
}

.course__block--loading {
    background: url(https://i.ibb.co/cwdKk1F/Rolling-1s-52px-transparent.gif)no-repeat !important;
    background-position: center !important;
    height: 54px !important
}

.momentInfoContent p img,
.toolbarLoader {
    display: none !important
}

.ltr,
.padding5.bold {
    color: #fff !important
}

a.clicked {
    color: #7289da !important
}

.toolbar {
    background-color: #2f3136
}

.lvs_item_top {
    background: var(--darkest-grey) !important;
    border-color: var(--darkest-grey) !important
}

.personalSettings_content {
    background-color: #2f3136;
    border: 0
}

.tabs li,
.tabs li.current {
    background: #2f3136
}

.tabs span,
.uploadzone.margin-top--milli tbody tr td {
    background: 0 0
}

.tabContent {
    border: 0
}

.pupil_nav_pupilinfo:hover {
    color: #7289da
}

.lvs-pupilpresences-row:hover {
    background: #2f3136 !important
}

.search_notes_schoolyearrow {
    color: #fff !important
}

.search_notes_itemrow:hover {
    cursor: default !important
}

.voormiddag {
    color: gray
}

.pointer:hover {
    text-decoration: none !important;
    background: #202225 !important
}

.smsc-rightclick__menu {
    background-color: #2f3136 !important
}

.smsc-inlineeditor__editor:hover {
    color: #7289da;
    text-decoration: none !important
}

.smsc-rightclick__link:hover {
    color: #7289da !important
}

.smsc-linkbutton--16:hover {
    background-color: #2f3136 !important
}

.js-listview-link {
    color: #fff !important
}

.js-listview-link:hover {
    color: #7289da !important
}

.smsc-dialog {
    background-color: var(--medium-grey) !important
}

.momentInfoClose {
    background-image: url(https://svgshare.com/i/Rdf.svg) !important
}

.momentInfoClose:hover {
    background-image: url(https://svgshare.com/i/Re7.svg) !important
}

.wborder {
    background: var(--darkest-grey) !important
}

#infoContainerSubjectTab .current span {
    border-top: 3px solid #fff
}

.momentInfo.dl,
.momentInfo.dr,
.momentInfo.ul,
.momentInfo.ur {
    background: var(--darkest-grey) !important;
    border-radius: 12px
}

.lessonFormTitleContainer,
.ui-state-default.ui-state-hover {
    color: #fff !important
}

.ui-icon-circle-triangle-w:hover,
.ui-state-default {
    background-color: var(--medium-grey) !important
}

.tasksAndMaterials__loading {
    background-image: url(https://i.ibb.co/cwdKk1F/Rolling-1s-52px-transparent.gif) !important;
    min-width: 52px !important;
    min-height: 52px !important
}

.agendaGridBlockContentRightButton {
    background-size: 14px
}

.gridBlock {
    border-color: #fff !important;
    background: 0 0 !important
}

.gridBlockContentNoIco {
    display: none
}

.gridBlockContentBothStartStatus {
    background-image: url(https://svgur.com/i/RcV.svg) !important
}

.gridBlockContentAssignmentEndStatus {
    background-image: url(https://svgshare.com/i/Rak.svg) !important
}

.gridBlockContentTestEndStatus {
    background-image: url(https://svgshare.com/i/RbG.svg) !important
}

.studentStartmoment,
.studentTest {
    background-image: url(https://svgur.com/i/RcV.svg) !important;
    background-size: 16px !important
}

.studentTest {
    background-image: url(https://svgshare.com/i/RbG.svg) !important
}

.infoContainerBlock {
    background-image: url(https://svgshare.com/i/Rak.svg);
    background-size: 16px !important
}

.gridBlockContentNoteStatusYes {
    background-color: var(--light-blue) !important
}

.infoContainer,
.infoContainerBlock {
    background-color: var(--medium-grey) !important
}

.infoContainer {
    color: #fff !important
}

.smsclayerloading {
    background-image: url(https://i.ibb.co/cwdKk1F/Rolling-1s-52px-transparent.gif) !important;
    height: 52px !important;
    width: 52px !important
}

.tasksAndMaterials__label:hover {
    text-decoration: none !important
}

.color_snow_white {
    background-color: var(--light-dark-grey) !important
}

.gridBlockContent {
    background-color: var(--medium-grey) !important
}

.agenda_grid_day_column div {
    border-radius: 4px !important
}

.agendaGridBlockContentLeft {
    color: #fff !important
}

.hasDatepicker:hover {
    color: var(--blue) !important
}

.navTitle {
    font-weight: 700 !important
}

.agenda_grid_header_day,
.navTitle {
    color: #fff !important
}

.border.centerxy,
.navigationContainer {
    background-color: #2f3136 !important
}

.hasDatepicker:hover {
    color: #7289da
}

.border.centery.topy,
.hasDatepicker,
body {
    background-color: #2f3136
}

.border,
.border.centerxy,
.border.centery.topy {
    background-image: none
}

.border.centerxy {
    border: 0
}

.border.centery.bottomy {
    background-color: #2f3136;
    border: 0
}

.category a {
    color: #fff
}

.nav a {
    color: #fff !important
}

.nav {
    background: #202225 !important;
    border: #202225 !important
}

.album_title {
    background: #5c80ff !important;
    border: #5c80ff !important
}

.smscBlockContainer_left,
.smscBlockContainer_right,
.smscBlockContainer_top {
    border-color: #fff !important;
    background-color: #2f3136;
    box-shadow: none
}

.studentcard_block.loading {
    background-image: none !important
}

.profile_header_pupilinfo_status {
    color: gray !important
}

.titleLeft,
.titleRight {
    background-color: #2f3136 !important;
    color: #fff !important;
    border: 0 !important
}

.breadcrumb_url a:hover,
.lvsitem_title:hover,
.message_sender:hover,
.titleRight:hover {
    color: #7289da !important
}

.loading ins,
.msgInfoMsg p a img,
.nav_loading_layer {
    display: none !important
}

.last .loading {
    background-image: none !important
}

.smsc-column-nav__button--news,
.smsc_cm_no_items#nownews {
    background-image: url(https://svgshare.com/i/RdB.svg) !important;
    background-size: 28px !important
}

.smsc_cm_no_items#nownews {
    background-size: 64px !important
}

.correctioninfo,
.fileinfogrey,
.fileinfowhite,
.fileuploadblock,
.isnew,
.profile_keyring_formfield_value input {
    background-color: var(--medium-grey) !important
}

.fileimg img {
    visibility: hidden !important
}

.fileimg {
    background-image: url(https://svgshare.com/i/Rdv.svg) !important;
    background-size: 16px !important
}

.uploadtitle {
    color: #fff !important
}

.htbluelink {
    text-decoration: none !important
}

.smsc_cm_body_row_block_desc {
    color: gray !important
}

.smscleftnavcontainer {
    background-color: var(--medium-grey) !important;
    border-color: #fff !important;
    box-shadow: none !important
}

.smsc-column-nav__button {
    color: #fff !important
}

.smsc-column-nav__button:hover {
    background-color: #202225 !important;
    border: 0 !important;
    color: #fff !important
}

.breadcrumb_url a,
.smsc_cm_link,
.treecollapse a {
    color: #fff
}

.treecollapse {
    background-image: none
}

.treecollapse a:hover {
    color: #7289da
}

#manual_searchbox,
.smscFrameTitleContainer {
    background-color: #2f3136 !important
}

.icon-label--16,
.smsc-dropzone--ellipsis:hover {
    color: #7289da !important
}

.plugin_note {
    background-color: var(--green) !important
}

.manual_widgettitle {
    background: #202225 !important
}

.kenniscontent h1,
.manual_widgettitle,
.manual_widgettitleinner,
h2,
h3,
h4,
h5,
h6,
span {
    color: #fff !important
}

.gridview__container,
.manual_widget_href_selectbox,
.manual_widgetcontent,
.smscselect_dropdown {
    background-color: #202225 !important
}

.smscselect_dropdown_item.selected::before {
    background-image: url(https://sjs.smartschool.be/smsc/img/check_tiny_white/check_tiny_white_8x8.png) !important
}

.li,
.searchSubTitle,
.searchTitle,
.ssLink.smscButton:hover {
    color: #fff !important
}

.searchSubTitle span,
.tabs .current span {
    background: 0 0 !important
}

.mydoc__trash-warning-container__label {
    color: #f04747 !important
}

.smsc-dropzone--ellipsis {
    font-weight: 700 !important
}

.disabled,
.readonly,
.readonly label:hover {
    cursor: not-allowed !important;
    color: #fff !important
}

.center {
    background-color: var(--light-grey) !important
}

.textfield,
.warning_row {
    border-color: #fff !important
}

.warning_row {
    background-color: var(--light-dark-grey) !important;
    color: #fff !important
}

.notifyScreenEventOptionLine.cf:hover,
.oauth_item_row:hover,
.textfield {
    background-color: #2f3136 !important
}

.notifyScreenTitle {
    color: #fff
}

.newsGroupTitle {
    background-image: url(https://svgshare.com/i/RbG.svg) !important
}

.groupContainer,
.groupTree,
.newsGroupTitleRow,
.newsTitle {
    background-color: var(--medium-grey) !important
}

.msgInfoTitle {
    color: #fff !important
}

.msgInfoAuthor {
    color: gray !important
}

.msgInfoSpacer {
    background-image: none !important;
    border-bottom: 2px solid #202225 !important
}

.next .icon,
.prev .icon {
    background-image: url(https://svgshare.com/i/Rbt.svg) !important;
    background-size: 48px !important
}

.prev .icon {
    background-image: url(https://svgshare.com/i/RbK.svg) !important
}

.resize-handle,
.toolbar,
.toolbar-buttons div {
    border: 0 !important
}

.notification__info:hover,
.notification__title:hover {
    color: #fff !important
}

.calendarDivActive,
.toolbar-bottom,
.toolbar-top {
    display: none !important
}

.propertyButton,
.propertyButton_hover {
    background-color: var(--medium-grey) !important;
    background-image: none !important
}

.propertyButton_hover {
    background-color: var(--darkest-grey) !important
}

.propertyButtonImg_noPointer:hover {
    background-color: var(--medium-grey) !important
}

.ssLoadingLayerImage {
    background-image: url(https://i.ibb.co/cwdKk1F/Rolling-1s-52px-transparent.gif) !important
}

.dpHeader {
    color: #fff !important
}

.bold,
.dayBlock {
    color: gray !important
}

.inputForm_main600x550 {
    background-image: none !important
}

.ccBackgr,
.contentContainer,
.inputForm_main600x550 {
    background-color: var(--medium-grey) !important
}

.splashscreen__dialog {
    background-color: #2f3136 !important;
    border-top: 1rem solid #2f3136 !important
}

.float-label__input {
    background-color: var(--medium-grey) !important
}

.header__day.highlight,
.header__day:hover {
    background-color: var(--light-dark-grey) !important
}

.header__day--today,
.optionWrapper-IEDUX[data-selected=true],
.optionWrapper-IEDUX[data-selected=true]::after,
.optionWrapper-IEDUX[data-selected=true]::before {
    background-color: var(--blue) !important
}

.highlight {
    background-color: rgba(0, 0, 0, .5) !important
}

.sidebar-print {
    background-color: var(--light-dark-grey) !important
}

.selectview {
    background-color: var(--blue) !important;
    border: 0 !important
}

#search,
.planner-header-search-input {
    background-color: var(--darkest-grey) !important
}

.keyIcon-aoeax {
    background-color: #666 !important;
    color: #fff !important;
    border: 0 !important
}

[class*=warning],
[class*=warning]:hover {
    background-color: var(--dark-yellow) !important;
    color: #fff !important;
    border: 0 !important
}

[class*=warning]:hover {
    background-color: var(--ultra-dark-yellow) !important
}

.todoRow-sOF6J:hover {
    background-color: var(--light-dark-grey) !important
}

.tox-editor-container {
    background-color: var(--medium-grey) !important;
    border: 0 !important
}

.blob--counter,
.mbselected {
    background-color: var(--blue) !important;
    color: #fff !important;
    border: 0 !important
}

.mbselected {
    background-color: var(--darkest-grey) !important
}

.mbnotselected {
    background-color: var(--medium-grey) !important;
    background-image: none !important;
    border: 0 !important
}

.mbnotselected,
.mce-content-body,
.tox .tox-toolbar {
    color: #fff !important
}

.tox .tox-toolbar {
    background: var(--light-dark-grey) !important
}

.user_row_image {
    border: 0 !important
}

.twinbutton__button:hover {
    background-color: var(--light-dark-grey) !important
}

.datepicker, .arrow-U4LFP svg polyline {
    background-color: var(--light-dark-grey) !important;
    fill: var(--light-dark-grey) !important;
}

.date--selected {
    background-color: var(--blue) !important
}